In [1]:
import os
from tika import parser
import re
import pandas as pd
from bs4 import BeautifulSoup

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  


path = os.getcwd()

In [2]:
path

'C:\\Users\\luiz.cavalcante\\Desktop\\IR\\Luiz'

In [3]:
#path = r"C:\Users\luiz\Desktop\SERGIO"
path=path+"\\"

In [99]:
folders = list(filter(lambda x: x[-4:]=='.pdf',os.listdir(path)))
historico = []
taxa =[]
for pdf in folders:
    a = parser.from_file(path+pdf)['content']
    a = re.sub('\n+', '\n', a)
    if 'NEGOCIAÇÃO' in a:
        a = re.sub('NEGOCIAÇÃO', 'CORRETAGEM', a)
        a = re.sub('Total Custos','Total corretagem', a)
        #print("ALERTA",pdf)
    folhas = re.findall(r"Data pregão(.*?)XP",a.replace('\n',''))
    aux = '_'.join(folhas[0].split('/')[::-1])
    #print(aux)
    os.rename(path+pdf,path+aux+".pdf")

In [100]:
folders = list(filter(lambda x: x[-4:]=='.pdf',os.listdir(path)))
historico = []
taxa =[]
for pdf in folders:
    a = parser.from_file(path+pdf)['content']
    a = re.sub('\n+', '\n', a)
    #########
    if 'NEGOCIAÇÃO' in a:
        a = re.sub('NEGOCIAÇÃO', 'CORRETAGEM', a)
        a = re.sub('Total Custos','Total corretagem', a)
    if 'WIN' in a:
        print("ALERTA WIN",pdf)
    if 'IND '  in a:
        print("ALERTA IND",pdf)
    ##########
    folhas = re.findall(r"NOTA DE CORRETAGEMNr. nota(.*?)Folha(.*?)Data pregão(.*?)XP",a.replace('\n',''))

    taxas = re.findall(r"Precatório\n([(0-9|.|,)]*)Total CBLC (D|C)\n([(0-9|.|,)]*)Valor líquido das operações (D|C)\n([(0-9|.|,)]*)Taxa de liquidação (D|C)\n([(0-9|.|,)]*)Taxa de Registro (D|C)\n([(0-9|.|,)]*)Total Bovespa / Soma (D|C)\n([(0-9|.|,)]*)Taxa de termo/opções (D|C)\n([(0-9|.|,)]*)Taxa A.N.A. (D|C)\n([(0-9|.|,)]*)Emolumentos (D|C)\n \n([(0-9|.|,)]*)Total corretagem / Despesas (D|C)\n \n([(0-9|.|,)]*)Taxa Operacional (D|C)\n([(0-9|.|,)]*)Execução\n([(0-9|.|,)]*)Taxa de Custódia\n([(0-9|.|,)]*)Impostos (D|C)\n([(0-9|.|,)]*)I.R.R.F. s/ operações, base R\$(.*?)\n([(0-9|.|,)]*)Outros (C|D)\n([(0-9|.|,)]*)Líquido para (.*?) (C|D)",a)
    #print(taxas)
    for i in range(len(taxas)):
        taxas[i] = list(taxas[i])
        if taxas[i][-6][-1] != "D":
            taxas[i][-7] = '0,00'
        assert taxas[i][20] == taxas[i][20] =='0,00'
        for j in range(15):
            if taxas[i][2*j+1][-1] == 'D':
                taxas[i][2*j] = '-'+taxas[i][2*j]
        if taxas[i][-1] == 'D':
                taxas[i][-3] = '-'+taxas[i][-3]
        taxas[i] = list(map(lambda x : int(x.replace('.','').replace(',','')) if not '/' in x else '-'.join(x.split('/')[::-1]),taxas[i][:-1:2] +[taxas[i][-2]]+[taxas[i][-6].split(' ')[0]]))
        try:
            lucro_daytrade,IRRF_daytrade = re.findall(r"IRRF Day Trade: Base R\$ (.*?) Projeção R\$ (.*?)\n",a)[0]
            taxas[i].append(-int(lucro_daytrade.replace('.','').replace(',','')))
            taxas[i].append(-int(IRRF_daytrade.replace('.','').replace(',','')))
        except:
            taxas[i].append(0)
            taxas[i].append(0)
        assert taxas[i][0] == sum(taxas[i][1:4])
        assert taxas[i][4] == sum(taxas[i][5:8])
        assert taxas[i][8] == sum(taxas[i][9:14])
        assert taxas[i][0] + taxas[i][4]+ taxas[i][8] + taxas[i][-1]== taxas[i][-5]
    #for k in taxas:
    #    print(k[-1],k[-5])
    #    print((k[1]*(1+0.00004105+0.0002795)+k[9]*(0.1068+0.039+1))/100 - k[-3]/100)

    trades = re.findall(r"Negócios realizadosQ Negociação C/V Tipo mercado Prazo Especificação do título Obs. \(\*\) Quantidade Preço / Ajuste Valor Operação / Ajuste D/C(.*?)NOTA DE CORRETAGEM",a.replace('\n',''))
    trades2 = re.findall(r"CONTINUA...Corretagem / DespesasLíquido paraObservação: \(1\) As operações a termo não são computadas no líquido da fatura.Capitais e regiões metropolitanas: 4003-3710 Demais localidades: 0800-880-3710 SAC: 0800-772-0202 Ouvidoria: 0800-722-3710(.*?)Negócios realizadosQ Negociação C/V Tipo mercado Prazo Especificação do título Obs. \(\*\) Quantidade Preço / Ajuste Valor Operação / Ajuste D/CNOTA DE CORRETAGEM",a.replace('\n',''))

    assert trades.count('') == len(trades2)
    for i,j in enumerate(folhas):
        if j[1] != '1':
            assert trades[i] == ''
            trades[i] = trades2[0]
            trades2 = trades2[1:]


        aux = filter(lambda x: x !='',trades[i].split('1-'))
        aux2 = map(lambda x : re.findall(r"^(.*?) (C|V) (.*?) (.*?) ([(0-9|.|,)]*) ([(0-9|.|,)]*) ([(0-9|.|,)]*) (D|C)$",x)[0],aux)
        aux3 = map(lambda x : [x[0],x[1],x[2],re.sub(' +', ' ', x[3]).strip(),x[4].replace('.','').replace(',','.'),x[5].replace('.','').replace(',','.'),x[6].replace('.','').replace(',','.'),x[7]],aux2)
        folhas[i] = [j[0],j[1],'-'.join(j[2].split('/')[::-1]),list(aux3)] 

    assert len(trades2)==0

    folhas = folhas[::-1]
    for i,k in enumerate(folhas):
        #Aqui to perdendo a info do marcado D do daytrade no nome do ativo
        k[3] = list(map(lambda x : (k[0],k[2],re.sub(r'(#$| #$| #2$)','', x[3]),int('-'+x[4]),x[5],int(x[6].replace('.',''))) if x[1] == 'V' else (k[0],k[2],re.sub(r'(#$| #$| #2$)','', x[3]),int(x[4]),x[5],int('-'+x[6].replace('.',''))) ,k[3]))
        if i != 0:
            if folhas[i-1][1] != '1':
                folhas[i][3]= folhas[i][3]+folhas[i-1][3]
    folhas = list(filter(lambda x: x[1] == '1',folhas[::-1]))
    folhas = list(map(lambda x: x[3],folhas))
    assert len(folhas)==len(taxas)

    historico.append([n for m in folhas for n in m])
    taxa.append(taxas)
historico,taxa = [n for m in historico for n in m],[z for x in taxa for z in x]

ALERTA WIN 2019_07_15.pdf
ALERTA WIN 2019_12_30.pdf
ALERTA WIN 2020_01_31.pdf
ALERTA WIN 2020_02_28.pdf
ALERTA WIN 2020_03_31.pdf
ALERTA WIN 2020_04_06.pdf
ALERTA IND 2020_04_06.pdf
ALERTA WIN 2020_05_08.pdf
ALERTA WIN 2020_07_24.pdf

In [103]:

def translate_tickers(nome):
    tickers={
        'BTGP BANCO UNT N2':'BPAC11',
        'BTGP BANCO UNT N2 D':'BPAC11',
        'ENEVA ON NM':'ENEV3',
        'ENEVA ON NM D':'ENEV3',
        'BIOTOSCANA DR3':'GBIO33',
        'BIOTOSCANA DR3 D#2':'GBIO33',
        'BIOTOSCANA DR3 D':'GBIO33',
        'QUALICORP ON ER NM':'QUAL3',
        'QUALICORP ON NM':'QUAL3',
        'BRASIL ON NM #2D':'BBAS3',
        'BRASIL ON NM':'BBAS3',
        'BRASIL ON NM D':'BBAS3',
        'SINQIA ON NM':'SQIA3',
        'AES TIETE E UNT ED N2':'TIET11',
        'AES TIETE E UNT N2':'TIET11',
        'BRADESCO PN EJB N1':'BBDC4',
        'BRADESCO PN N1':'BBDC4',
        'BRADESCO ON EJB N1':'BBDC3',
        'BRADESCO ON N1':'BBDC3',
        'ITAUUNIBANCO PN ED N1':'ITUB4',
        'ITAUUNIBANCO PN N1':'ITUB4',
        'JBS ON ED NM':'JBSS3',
        'JBS ON NM':'JBSS3',
        'LOJAS RENNER ON EDB NM':'LREN3',
        'PETROBRAS PN N2 D':'PETR4',
        'LOJAS RENNER ON NM':'LREN3',
        'P.ACUCAR-CBD PN EJ N1':'PCAR4',
        'P.ACUCAR-CBD PN N1':'PCAR4',
        'PETROBRAS PN ED N2':'PETR4',
        'PETROBRAS PN N2':'PETR4',
        'BRASIL ON NM D':'BBAS3',
        'VALE ON NM':'VALE3',
        'AZUL PN N2':'AZUL4',
        'OI ON N1':'OIBR3',
        'OI ON N1 D':'OIBR3',
        'OI ON N1 D#2':'OIBR3',
        'B2W DIGITAL ON NM':'BTOW3',
        'ENGIE BRASIL ON NM':'EGIE3',
        'EQUATORIAL ON NM':'EQTL3',
        'LOCALIZA ON NM':'RENT3',
        'SUZANO PAPEL ON NM':'SUZB3',
        'CARREFOUR BR ON NM':'CRFB3',
        'TIM PART S/A ON NM':'TIMP3',
        'SUL AMERICA UNT N2':'SULA11',
        'MULTIPLAN ON N2':'MULT3',
        'TRAN PAULIST PN N1':'TRPL4',
        'RUMO S.A. ON NM':'RAIL3',
        'LOJAS RENNER ON ED NM D':'LREN3',
        'EZTEC ON NM':'EZTC3',
        'EZTEC ON EDB NM':'EZTC3',
        'B3 ON NM':'B3SA3',
        'ISHARES BOVA CI ATZ':'BOVA11',
        'LOCAWEB ON NM':'LWSA3',
        'RANDON PART PN N1':'RAPT4',
        'IGUATEMI ON NM' : 'IGTA3',
        'BR MALLS PAR ON NM':'BRML3',
        'MAGAZ LUIZA ON NM D':'MGLU3',
        'MAGAZ LUIZA ON NM':'MGLU3',
        'CVC BRASIL ON NM':'CVCB3',
        'TOTVS ON NM':'TOTS3',
        'KEPLER WEBER ON EJ':'KEPL3',
        'KEPLER WEBER ON':'KEPL3',
        'TUPY ON NM':'TUPY3',
        'PETRORIO ON NM':'PRIO3',
        'PETRORIO ON NM D':'PRIO3',
        'PETRORIO ON NM D#2':'PRIO3',
        'VIAVAREJO ON NM':'VVAR3',
        'CENTAURO ON NM':'CNTO3',
        'ELETROBRAS ON N1':'ELET3',
        'BRADESCO PN EJ N1':'BBDC4',
        'M.DIASBRANCO ON EJ NM':'MDIA3',
        'CIELO ON NM D' : 'CIEL3',
        'ABC BRASIL PN EJ N2':'ABCB4',
        'CAMIL ON NM':'CAML3',
        'GRUPO NATURA ON NM':'NTCO3',
        'CEA MODAS ON EJ NM':'CEAB3',
        'CEA MODAS ON NM':'CEAB3',
        'CIA HERING ON NM':'HGTX3',
        'IMC S/A ON NM':'MEAL3',
        'PPLA UNT':'PPLA11',
        'BANCO BMG PN N1':'BMGB4',
        'LOG-IN ON NM':'LOGN3',
        'DE COMPRA 01/20 VVARA125 ON 12,50 VVAR':'VVAR125',
        'OPC COMPRA 01/20 VVARA125E ON 12,50':'VVAR125',
        'PORTOBELLO ON NM':'PTBL3',
        'RECRUSUL PN':'RCSL4',
        'GAFISA ON NM':'GFSA3',
        'COGNA ON ON NM':'COGN3',
        'MILLS ON NM':'MILS3',
        'TECNISA ON NM':'TCSA3',
        'TRISUL ON NM' : 'TRIS3',
        'CEMIG PN N1' : 'CMIG4',
        'CEMIG PN EJ N1': 'CMIG4',
        'DOMMO ON':'DMMO3',
        'PETROBRAS BR ON NM':'BRDT3',
        'OI PN N1':'OIBR4',
        'ISHARES BOVA CI':'BOVA11',
        'ISHARES BOVA CI D':'BOVA11',
        'ELETROBRAS PNB N1':'ELET6',
        'FII XP CRED XPCI12 DM 100,51':'DSHFOSDHFOISDFJSDPOOFJSPOFJSDPF',
    }
    return tickers[nome]

In [104]:
aux = pd.DataFrame(historico,columns=['nota','pregao','nome','qtd','preco_medio','financeiro'])
aux['daytrade'] = aux.nome.apply(lambda x : True if x[-1] == 'D' or x[-3:-1] == 'D#' or x[-4:-1] == 'D#2' else False)
aux.nome = aux.nome.apply(translate_tickers)
aux['mes'] = aux['pregao'].apply(lambda x : '-'.join(x.split('-')[:2]))
aux = aux.sort_values(by='pregao',ascending=True)
aux.index = range(len(aux))
aux['turnover'] = abs(aux['financeiro'])

In [105]:
turnover = aux.groupby(by=['pregao','nota']).sum()[["turnover"]].sort_values(by='pregao',ascending=True)
turnover

                     turnover
pregao     nota
2019-07-15 15472367   2131000
2019-08-02 15770099   2155400
2019-08-23 16129828   6909800
2019-08-26 16152489   5411200
2019-08-27 16172636   4751100
2019-08-29 16209057    452000
2019-09-25 16613152   1192500
2019-09-30 16668683    462000
2019-10-07 16779434  17710300
2019-10-18 16967257   2025600
2019-10-21 16987708  13051500
2019-10-23 17034373   1861200
2019-10-24 17057837  13881400
2019-10-31 17174111   1225600
2019-11-04 17228307   1236000
2019-11-25 17566844   1416000
2019-11-28 17640994   1621800
2019-12-04 17744320    361600
2019-12-06 17801694  13575690
2019-12-13 17948067  32347000
2019-12-19 18078081  20958300
2019-12-30 18218512   3282300
2020-01-06 18314101   5509200
2020-01-07 18348931  12529560
2020-01-13 18480725  27673700
2020-01-14 18513199  20420000
2020-01-15 18545780  30688800
2020-01-16 18579106   3519800
2020-01-24 18780954  23314320
2020-01-30 18904168  81505020
2020-01-31 18934102  52158000
2020-02-11 19159690  36588400
2020-03-05 19660857  39033000
2020-03-06 19694707  37200000
2020-04-02 20545661   6438700
2020-04-03 20584133  39135000
2020-04-06 20623043   8003000
2020-04-16 20881410   7922200
2020-04-29 21224162   7993700
2020-04-30 21268395   7006800
2020-05-08 21473188   4290100
2020-05-12 21547735   2260000
2020-06-02 22176539  38677900
2020-06-03 22235970  10045000
2020-06-15 22667488  20599630
2020-06-16 22726302   5880000
2020-06-17 22778460  20817210
2020-07-02 23284610   6522000
2020-07-07 23436179   9918300
2020-07-16 23808931  11419660
2020-07-17 23858119    992000
2020-07-20 23913583  17289590
2020-07-24 24156262   9268000
2020-07-31 24422581  15273600

In [106]:
aux.groupby(by=['pregao','nota']).count().reset_index()[['pregao','nota']].sort_values(by='pregao',ascending=True)

        pregao      nota
0   2019-07-15  15472367
1   2019-08-02  15770099
2   2019-08-23  16129828
3   2019-08-26  16152489
4   2019-08-27  16172636
5   2019-08-29  16209057
6   2019-09-25  16613152
7   2019-09-30  16668683
8   2019-10-07  16779434
9   2019-10-18  16967257
10  2019-10-21  16987708
11  2019-10-23  17034373
12  2019-10-24  17057837
13  2019-10-31  17174111
14  2019-11-04  17228307
15  2019-11-25  17566844
16  2019-11-28  17640994
17  2019-12-04  17744320
18  2019-12-06  17801694
19  2019-12-13  17948067
20  2019-12-19  18078081
21  2019-12-30  18218512
22  2020-01-06  18314101
23  2020-01-07  18348931
24  2020-01-13  18480725
25  2020-01-14  18513199
26  2020-01-15  18545780
27  2020-01-16  18579106
28  2020-01-24  18780954
29  2020-01-30  18904168
30  2020-01-31  18934102
31  2020-02-11  19159690
32  2020-03-05  19660857
33  2020-03-06  19694707
34  2020-04-02  20545661
35  2020-04-03  20584133
36  2020-04-06  20623043
37  2020-04-16  20881410
38  2020-04-29  21224162
39  2020-04-30  21268395
40  2020-05-08  21473188
41  2020-05-12  21547735
42  2020-06-02  22176539
43  2020-06-03  22235970
44  2020-06-15  22667488
45  2020-06-16  22726302
46  2020-06-17  22778460
47  2020-07-02  23284610
48  2020-07-07  23436179
49  2020-07-16  23808931
50  2020-07-17  23858119
51  2020-07-20  23913583
52  2020-07-24  24156262
53  2020-07-31  24422581

In [107]:
df_taxas = pd.DataFrame(taxa).sort_values(by=15,ascending=True)
df_taxas.columns = ['CBLC','valor_liquido_operacoes','taxa_liquidacao','taxa_registro','total_bovespa','taxa_termo_opcoes','taxa_ANA','emolumentos','total_custos','taxa_operacional','execucao','impostos','IRRF','outros','valor_liquido_para','data_liquidacao','montante_IRRF','lucro_daytrade','IRRF_daytrade']
df_taxas.index = range(len(df_taxas))
#df_taxas = df_taxas[[15,14]]
#df_taxas.columns = ['liquidacao','IRRF','valorIRRF','corretagem','valor_final','valor_liquid_operacoes','lucro_daytrade','IRRF_daytrade']
#df_taxas['valor_liquido_para'] = df_taxas['valor_liquido_para'] - df_taxas['IRRF_daytrade']
df_taxas['custos_operacionais'] = df_taxas['taxa_liquidacao']+df_taxas['emolumentos']+df_taxas['impostos']+df_taxas['outros']+df_taxas['taxa_operacional']
df_taxas = pd.concat([df_taxas,aux.groupby(by=['pregao','nota']).count().reset_index()[['pregao','nota']].sort_values(by='pregao',ascending=True)],axis=1)
#df_taxas= df_taxas[['nota','pregao','data_liquidacao','taxa_operacional','custos_operacionais','valor_liquido_para']]
#df_taxas.set_index(15).T
df_taxas

,CBLC,valor_liquido_operacoes,taxa_liquidacao,taxa_registro,total_bovespa,taxa_termo_opcoes,taxa_ANA,emolumentos,total_custos,taxa_operacional,...,IRRF,outros,valor_liquido_para,data_liquidacao,montante_IRRF,lucro_daytrade,IRRF_daytrade,custos_operacionais,pregao,nota
0,-2131586,-2131000,-586,0,-89,0,0,-89,-4330,-3780,...,0,-147,-2136005,2019-07-17,0,0,0,-5005,2019-07-15,15472367
1,2154808,2155400,-592,0,-150,0,0,-150,-2271,-1890,...,-107,-73,2152387,2019-08-06,2155400,0,0,-2906,2019-08-02,15770099
2,-6911700,-6909800,-1900,0,-284,0,0,-284,-6496,-5670,...,0,-221,-6918480,2019-08-27,0,0,0,-8680,2019-08-23,16129828
3,-5412688,-5411200,-1488,0,-222,0,0,-222,-10827,-9450,...,0,-368,-5423737,2019-08-28,0,0,0,-12537,2019-08-26,16152489
4,-4752406,-4751100,-1306,0,-195,0,0,-195,-6496,-5670,...,0,-221,-4759097,2019-08-29,0,0,0,-7997,2019-08-27,16172636
5,451876,452000,-124,0,-18,0,0,-18,-2164,-1890,...,0,-73,449694,2019-09-02,452000,0,0,-2306,2019-08-29,16209057
6,-1192827,-1192500,-327,0,-83,0,0,-83,-2164,-1890,...,0,-73,-1195074,2019-09-27,0,0,0,-2574,2019-09-25,16613152
7,461873,462000,-127,0,-32,0,0,-32,-2164,-1890,...,0,-73,459677,2019-10-02,462000,0,0,-2323,2019-09-30,16668683
8,17705430,17710300,-4870,0,-727,0,0,-727,-3049,-1890,...,-885,-73,17701654,2019-10-09,17710300,0,0,-7761,2019-10-07,16779434
9,-2026157,-2025600,-557,0,-83,0,0,-83,-2164,-1890,...,0,-73,-2028404,2019-10-22,0,0,0,-2804,2019-10-18,16967257
10,13047911,13051500,-3589,0,-535,0,0,-535,-2816,-1890,...,-652,-73,13044560,2019-10-23,13051500,0,0,-6288,2019-10-21,16987708
11,1860689,1861200,-511,0,-76,0,0,-76,-2164,-1890,...,0,-73,1858449,2019-10-25,1861200,0,0,-2751,2019-10-23,17034373
12,-13885217,-13881400,-3817,0,-569,0,0,-569,-2164,-1890,...,0,-73,-13887950,2019-10-28,0,0,0,-6550,2019-10-24,17057837
13,-1225937,-1225600,-337,0,-50,0,0,-50,-2164,-1890,...,0,-73,-1228151,2019-11-04,0,0,0,-2551,2019-10-31,17174111
14,1235661,1236000,-339,0,-50,0,0,-50,-2164,-1890,...,0,-73,1233447,2019-11-06,1236000,0,0,-2553,2019-11-04,17228307
15,-1416389,-1416000,-389,0,-58,0,0,-58,-2164,-1890,...,0,-73,-1418611,2019-11-27,0,0,0,-2611,2019-11-25,17566844
16,-1622245,-1621800,-445,0,-66,0,0,-66,-2164,-1890,...,0,-73,-1624475,2019-12-02,0,0,0,-2675,2019-11-28,17640994
17,361501,361600,-99,0,-13,0,0,-13,-2164,-1890,...,0,-73,359324,2019-12-06,361600,-1895,0,-2276,2019-12-04,17744320
18,13552580,13556310,-3730,0,-515,0,0,-515,-5007,-3780,...,-677,-147,13547058,2019-12-10,13556310,-1895,0,-8575,2019-12-06,17801694
19,-13375895,-13367000,-8895,0,-1229,0,0,-1229,-6970,-5670,...,-474,-221,-13384094,2019-12-17,9490000,-1895,0,-16620,2019-12-13,17948067
20,52537,58300,-5763,0,-1379,0,0,-1379,-7020,-5670,...,-524,-221,44138,2019-12-23,10508300,-1895,0,-13638,2019-12-19,18078081
21,-3283202,-3282300,-902,0,-124,0,0,-124,-2164,-1890,...,0,-73,-3285490,2020-01-03,0,-1895,0,-3190,2019-12-30,18218512
22,-2513715,-2512200,-1515,0,-201,0,0,-201,-6496,-5670,...,0,-221,-2520412,2020-01-08,1498500,0,0,-8212,2020-01-06,18314101
23,3715,7160,-3445,0,-458,0,0,-458,-6809,-5670,...,-313,-221,-3552,2020-01-09,6268360,0,0,-10399,2020-01-07,18348931
24,27666090,27673700,-7610,0,-1012,0,0,-1012,-3547,-1890,...,-1383,-73,27661531,2020-01-15,27673700,0,0,-10786,2020-01-13,18480725
25,-20425615,-20420000,-5615,0,-747,0,0,-747,-2164,-1890,...,0,-73,-20428526,2020-01-16,0,0,0,-8526,2020-01-14,18513199
26,-6317439,-6309000,-8439,0,-1123,0,0,-1123,-9269,-7560,...,-608,-294,-6327831,2020-01-17,12189900,0,0,-18223,2020-01-15,18545780
27,181233,182200,-967,0,-128,0,0,-128,-4330,-3780,...,0,-147,176775,2020-01-20,1851000,0,0,-5425,2020-01-16,18579106
28,-32091,-25680,-6411,0,-853,0,0,-853,-7078,-5670,...,-582,-221,-40022,2020-01-28,11644320,0,0,-13760,2020-01-24,18780954
29,26712567,26734980,-22413,0,-5705,0,0,-5705,-4330,-3780,...,0,-147,26702532,2020-02-03,0,0,0,-32448,2020-01-30,18904168
30,-24772343,-24758000,-14343,0,-3193,0,0,-3193,-5015,-3780,...,-685,-147,-24780551,2020-02-04,13700000,0,0,-21866,2020-01-31,18934102
31,36578339,36588400,-10061,0,-1266,0,0,-1266,-2164,-1890,...,0,-73,36574909,2020-02-13,0,0,0,-13491,2020-02-11,19159690
32,-39043734,-39033000,-10734,0,-1267,0,0,-1267,-6496,-5670,...,0,-221,-39051497,2020-03-09,0,0,0,-18497,2020-03-05,19660857
33,37189770,37200000,-10230,0,-2604,0,0,-2604,-4024,-1890,...,-1860,-73,37183142,2020-03-10,37200000,0,0,-14998,2020-03-06,19694707
34,-6440470,-6438700,-1770,0,-450,0,0,-450,-2164,-1890,...,0,-73,-6443084,2020-04-06,0,0,0,-4384,2020-04-02,20545661
35,-26008781,-25999000,-9781,0,-1176,0,0,-1176,-9245,-8070,...,0,-314,-26019699,2020-04-07,0,-49763,-497,-20202,2020-04-03,20584133
36,8000800,8003000,-2200,0,-553,0,0,-553,-4730,-3780,...,-400,-147,7995517,2020-04-08,8003000,0,0,-7083,2020-04-06,20623043
37,-7924378,-7922200,-2178,0,-554,0,0,-554,-2164,-1890,...,0,-73,-7927096,2020-04-20,0,0,0,-4896,2020-04-16,20881410
38,7991502,7993700,-2198,0,-559,0,0,-559,-2563,-1890,...,-399,-73,7988380,2020-05-04,7993700,0,0,-4921,2020-04-29,21224162
39,-7008726,-7006800,-1926,0,-210,0,0,-210,-4330,-3780,...,0,-147,-7013266,2020-05-05,0,0,0,-6466,2020-04-30,21268395
40,4288921,4290100,-1179,0,-143,0,0,-143,-2378,-1890,...,-214,-73,4286400,2020-05-12,4290100,0,0,-3486,2020-05-08,21473188
41,2259379,2260000,-621,0,-75,0,0,-75,-2277,-1890,...,-113,-73,2257027,2020-05-14,2260000,0,0,-2860,2020-05-12,21547735
42,-5791536,-5780900,-10636,0,-1272,0,0,-1272,-7318,-5670,...,-822,-221,-5800126,2020-06-04,16448500,0,0,-18404,2020-06-02,22176539
43,9325332,9328040,-2708,0,-329,0,0,-329,-3547,-2690,...,-466,-104,9321456,2020-06-05,9327760,-1295,0,-6118,2020-06-03,22235970
44,-2067566,-2062730,-4836,0,-677,0,0,-677,-7268,-6180,...,-187,-241,-2075611,2020-06-17,3741360,-10033,-100,-12594,2020-06-15,22667488
45,5878383,5880000,-1617,0,-411,0,0,-411,-2458,-1890,...,-294,-73,5875514,2020-06-18,5880000,0,0,-4192,2020-06-16,22726302
46,-5694222,-5689630,-4592,0,-684,0,0,-684,-5705,-4980,...,0,-194,-5700843,2020-06-19,0,-23284,-232,-10981,2020-06-17,22778460
47,-6523793,-6522000,-1793,0,-201,0,0,-201,-4330,-3780,...,0,-147,-6528324,2020-07-06,0,0,0,-6324,2020-07-02,23284610
48,-261627,-258900,-2727,0,-505,0,0,-505,-4571,-3780,...,-241,-147,-266703,2020-07-09,4829700,0,0,-7562,2020-07-07,23436179
49,776520,779660,-3140,0,-799,0,0,-799,-4634,-3780,...,-304,-147,771087,2020-07-20,6099660,0,0,-8269,2020-07-16,23808931
50,-2198,-2000,-198,0,-30,0,0,-30,-1832,-1600,...,0,-62,-4060,2020-07-21,0,-3828,0,-2060,2020-07-17,23858119
51,-739164,-734410,-4754,0,-534,0,0,-534,-9074,-7560,...,-413,-294,-748772,2020-07-22,8277590,-3828,0,-13949,2020-07-20,23913583
52,1604652,1607200,-2548,0,-286,0,0,-286,-4601,-3780,...,-271,-147,1599765,2020-07-28,5437600,0,0,-7164,2020-07-24,24156262
53,15269400,15273600,-4200,0,-471,0,0,-471,-2927,-1890,...,-763,-73,15266002,2020-08-04,15273600,0,0,-6835,2020-07-31,24422581

In [138]:
#verifica se os daytrades estão todos marcados certo (soma por dia da coluna qtd tem q ser zero pra todos os ativos/dia)
e = aux[aux.daytrade].groupby(['pregao','nome']).sum()
e

                    qtd  financeiro  daytrade  turnover
pregao     nome
2019-12-06 BBAS3  -2798    13556310       2.0  13575690
2020-04-03 ENEV3      0       56000      19.0  13080000
2020-06-03 BOVA11     0         280       1.0       280
2020-06-15 BOVA11     0       14242       1.0     14242
2020-06-17 BOVA11   190    -1693730      11.0  16821310
2020-07-17 CIEL3      0       -2000       2.0    992000

In [141]:
#preciso na unha tirar os BOVA11 q na vdd n foram daytrade
confusao = aux[aux.pregao=='2020-06-17'][aux.nome == 'BOVA11']
confusao

C:\Users\luiz.cavalcante\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,nota,pregao,nome,qtd,preco_medio,financeiro,daytrade,mes,turnover
403,22778460,2020-06-17,BOVA11,-110,91.13,1002430,True,2020-06,1002430
404,22778460,2020-06-17,BOVA11,30,90.76,-272280,False,2020-06,272280
405,22778460,2020-06-17,BOVA11,-50,91.13,455650,True,2020-06,455650
406,22778460,2020-06-17,BOVA11,-190,91.13,1731470,True,2020-06,1731470
407,22778460,2020-06-17,BOVA11,-210,91.13,1913730,True,2020-06,1913730
408,22778460,2020-06-17,BOVA11,-20,91.13,182260,True,2020-06,182260
409,22778460,2020-06-17,BOVA11,-40,91.13,364520,True,2020-06,364520
410,22778460,2020-06-17,BOVA11,420,90.76,-3811920,True,2020-06,3811920
411,22778460,2020-06-17,BOVA11,200,90.82,-1816400,False,2020-06,1816400
412,22778460,2020-06-17,BOVA11,400,90.76,-3630400,True,2020-06,3630400
413,22778460,2020-06-17,BOVA11,200,90.76,-1815200,True,2020-06,1815200
414,22778460,2020-06-17,BOVA11,210,90.82,-1907220,False,2020-06,1907220
415,22778460,2020-06-17,BOVA11,-190,91.13,1731470,True,2020-06,1731470
416,22778460,2020-06-17,BOVA11,-20,91.13,182260,True,2020-06,182260

In [142]:
qtd_comprada = confusao[confusao.qtd>0].qtd.sum()
qtd_vendida  = -confusao[confusao.qtd<0].qtd.sum()

#saldo final dos trades daquele dia, se ficou net comprado ou net vendido
saldo = qtd_comprada-qtd_vendida

#medio de compra
medio_compra = -0.01*confusao[confusao.qtd>0].financeiro.sum()/qtd_comprada
#medio_venda
medio_venda = 0.01*confusao[confusao.qtd<0].financeiro.sum()/qtd_vendida
medio_compra,medio_venda

(90.7768493150685, 91.13000000000001)

In [143]:
adicionar = confusao.iloc[0:2].copy()
adicionar.index = [0,1]
adicionar

,nota,pregao,nome,qtd,preco_medio,financeiro,daytrade,mes,turnover
0,22778460,2020-06-17,BOVA11,-110,91.13,1002430,True,2020-06,1002430
1,22778460,2020-06-17,BOVA11,30,90.76,-272280,False,2020-06,272280

In [144]:

if saldo > 0 and medio_compra < medio_venda :
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_compra
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    
elif saldo < 0 and medio_compra < medio_venda:
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_venda
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_comprada*(medio_venda-medio_compra)))
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_comprada*(medio_venda-medio_compra)))

elif saldo > 0 and medio_compra > medio_venda :
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_compra
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_vendida*(medio_venda-medio_compra))) 
    
    
elif saldo < 0 and medio_compra > medio_venda:
    adicionar.loc[0,'daytrade'] = False
    adicionar.loc[0,'qtd']  = saldo
    adicionar.loc[0,'preco_medio']  = medio_venda
    adicionar.loc[0,'financeiro']  = confusao.financeiro.sum() - int(round(100*qtd_comprada*(medio_venda-medio_compra)))
    
    adicionar.loc[1,'daytrade'] = True
    adicionar.loc[1,'qtd']  = 0
    adicionar.loc[1,'preco_medio']  = 0
    adicionar.loc[1,'financeiro']  = int(round(100*qtd_comprada*(medio_venda-medio_compra)))

    
else:
    print('algum erro de caso inesperado')


#adicionar.index = [len(aux),len(aux)+1]
adicionar['turnover']  = adicionar['financeiro'].apply(abs)

In [145]:
aux.drop(confusao.index,inplace=True)
aux = pd.concat([aux,adicionar]).sort_values('pregao')
aux.index =range(len(aux))

In [146]:
#agora todos os daytrades devem estar todos marcados certo (soma por dia da coluna qtd tem q ser zero pra todos os ativos/dia)
e = aux[aux.daytrade].groupby(['pregao','nome']).sum()
e

                    qtd  financeiro  daytrade  turnover
pregao     nome
2019-12-06 BBAS3  -2798    13556310       2.0  13575690
2020-04-03 ENEV3      0       56000      19.0  13080000
2020-06-03 BOVA11     0         280       1.0       280
2020-06-15 BOVA11     0       14242       1.0     14242
2020-06-17 BOVA11     0       29312       1.0     29312
2020-07-17 CIEL3      0       -2000       2.0    992000

In [151]:
#Quantidade de dinheiro ganhado no daytrade BVM (SEM INDICIE FUTURO) (ainda não estao incluidos os custos)
e['financeiro'].sum()/100

136541.44

In [152]:
taxas_detalhadas = df_taxas[['nota','pregao','data_liquidacao','valor_liquido_operacoes','custos_operacionais','valor_liquido_para','IRRF','IRRF_daytrade']]
taxas_detalhadas

,nota,pregao,data_liquidacao,valor_liquido_operacoes,custos_operacionais,valor_liquido_para,IRRF,IRRF_daytrade
0,15472367,2019-07-15,2019-07-17,-2131000,-5005,-2136005,0,0
1,15770099,2019-08-02,2019-08-06,2155400,-2906,2152387,-107,0
2,16129828,2019-08-23,2019-08-27,-6909800,-8680,-6918480,0,0
3,16152489,2019-08-26,2019-08-28,-5411200,-12537,-5423737,0,0
4,16172636,2019-08-27,2019-08-29,-4751100,-7997,-4759097,0,0
5,16209057,2019-08-29,2019-09-02,452000,-2306,449694,0,0
6,16613152,2019-09-25,2019-09-27,-1192500,-2574,-1195074,0,0
7,16668683,2019-09-30,2019-10-02,462000,-2323,459677,0,0
8,16779434,2019-10-07,2019-10-09,17710300,-7761,17701654,-885,0
9,16967257,2019-10-18,2019-10-22,-2025600,-2804,-2028404,0,0
10,16987708,2019-10-21,2019-10-23,13051500,-6288,13044560,-652,0
11,17034373,2019-10-23,2019-10-25,1861200,-2751,1858449,0,0
12,17057837,2019-10-24,2019-10-28,-13881400,-6550,-13887950,0,0
13,17174111,2019-10-31,2019-11-04,-1225600,-2551,-1228151,0,0
14,17228307,2019-11-04,2019-11-06,1236000,-2553,1233447,0,0
15,17566844,2019-11-25,2019-11-27,-1416000,-2611,-1418611,0,0
16,17640994,2019-11-28,2019-12-02,-1621800,-2675,-1624475,0,0
17,17744320,2019-12-04,2019-12-06,361600,-2276,359324,0,0
18,17801694,2019-12-06,2019-12-10,13556310,-8575,13547058,-677,0
19,17948067,2019-12-13,2019-12-17,-13367000,-16620,-13384094,-474,0
20,18078081,2019-12-19,2019-12-23,58300,-13638,44138,-524,0
21,18218512,2019-12-30,2020-01-03,-3282300,-3190,-3285490,0,0
22,18314101,2020-01-06,2020-01-08,-2512200,-8212,-2520412,0,0
23,18348931,2020-01-07,2020-01-09,7160,-10399,-3552,-313,0
24,18480725,2020-01-13,2020-01-15,27673700,-10786,27661531,-1383,0
25,18513199,2020-01-14,2020-01-16,-20420000,-8526,-20428526,0,0
26,18545780,2020-01-15,2020-01-17,-6309000,-18223,-6327831,-608,0
27,18579106,2020-01-16,2020-01-20,182200,-5425,176775,0,0
28,18780954,2020-01-24,2020-01-28,-25680,-13760,-40022,-582,0
29,18904168,2020-01-30,2020-02-03,26734980,-32448,26702532,0,0
30,18934102,2020-01-31,2020-02-04,-24758000,-21866,-24780551,-685,0
31,19159690,2020-02-11,2020-02-13,36588400,-13491,36574909,0,0
32,19660857,2020-03-05,2020-03-09,-39033000,-18497,-39051497,0,0
33,19694707,2020-03-06,2020-03-10,37200000,-14998,37183142,-1860,0
34,20545661,2020-04-02,2020-04-06,-6438700,-4384,-6443084,0,0
35,20584133,2020-04-03,2020-04-07,-25999000,-20202,-26019699,0,-497
36,20623043,2020-04-06,2020-04-08,8003000,-7083,7995517,-400,0
37,20881410,2020-04-16,2020-04-20,-7922200,-4896,-7927096,0,0
38,21224162,2020-04-29,2020-05-04,7993700,-4921,7988380,-399,0
39,21268395,2020-04-30,2020-05-05,-7006800,-6466,-7013266,0,0
40,21473188,2020-05-08,2020-05-12,4290100,-3486,4286400,-214,0
41,21547735,2020-05-12,2020-05-14,2260000,-2860,2257027,-113,0
42,22176539,2020-06-02,2020-06-04,-5780900,-18404,-5800126,-822,0
43,22235970,2020-06-03,2020-06-05,9328040,-6118,9321456,-466,0
44,22667488,2020-06-15,2020-06-17,-2062730,-12594,-2075611,-187,-100
45,22726302,2020-06-16,2020-06-18,5880000,-4192,5875514,-294,0
46,22778460,2020-06-17,2020-06-19,-5689630,-10981,-5700843,0,-232
47,23284610,2020-07-02,2020-07-06,-6522000,-6324,-6528324,0,0
48,23436179,2020-07-07,2020-07-09,-258900,-7562,-266703,-241,0
49,23808931,2020-07-16,2020-07-20,779660,-8269,771087,-304,0
50,23858119,2020-07-17,2020-07-21,-2000,-2060,-4060,0,0
51,23913583,2020-07-20,2020-07-22,-734410,-13949,-748772,-413,0
52,24156262,2020-07-24,2020-07-28,1607200,-7164,1599765,-271,0
53,24422581,2020-07-31,2020-08-04,15273600,-6835,15266002,-763,0

In [153]:
assert (df_taxas.valor_liquido_operacoes+df_taxas.custos_operacionais+df_taxas.IRRF+df_taxas.IRRF_daytrade == df_taxas.valor_liquido_para).all()
assert (aux.groupby(['nota']).sum().financeiro.values == taxas_detalhadas.valor_liquido_operacoes.values).all()

In [154]:
df_taxas[['nota','pregao','data_liquidacao','valor_liquido_operacoes','custos_operacionais','valor_liquido_para','IRRF','IRRF_daytrade']]

,nota,pregao,data_liquidacao,valor_liquido_operacoes,custos_operacionais,valor_liquido_para,IRRF,IRRF_daytrade
0,15472367,2019-07-15,2019-07-17,-2131000,-5005,-2136005,0,0
1,15770099,2019-08-02,2019-08-06,2155400,-2906,2152387,-107,0
2,16129828,2019-08-23,2019-08-27,-6909800,-8680,-6918480,0,0
3,16152489,2019-08-26,2019-08-28,-5411200,-12537,-5423737,0,0
4,16172636,2019-08-27,2019-08-29,-4751100,-7997,-4759097,0,0
5,16209057,2019-08-29,2019-09-02,452000,-2306,449694,0,0
6,16613152,2019-09-25,2019-09-27,-1192500,-2574,-1195074,0,0
7,16668683,2019-09-30,2019-10-02,462000,-2323,459677,0,0
8,16779434,2019-10-07,2019-10-09,17710300,-7761,17701654,-885,0
9,16967257,2019-10-18,2019-10-22,-2025600,-2804,-2028404,0,0
10,16987708,2019-10-21,2019-10-23,13051500,-6288,13044560,-652,0
11,17034373,2019-10-23,2019-10-25,1861200,-2751,1858449,0,0
12,17057837,2019-10-24,2019-10-28,-13881400,-6550,-13887950,0,0
13,17174111,2019-10-31,2019-11-04,-1225600,-2551,-1228151,0,0
14,17228307,2019-11-04,2019-11-06,1236000,-2553,1233447,0,0
15,17566844,2019-11-25,2019-11-27,-1416000,-2611,-1418611,0,0
16,17640994,2019-11-28,2019-12-02,-1621800,-2675,-1624475,0,0
17,17744320,2019-12-04,2019-12-06,361600,-2276,359324,0,0
18,17801694,2019-12-06,2019-12-10,13556310,-8575,13547058,-677,0
19,17948067,2019-12-13,2019-12-17,-13367000,-16620,-13384094,-474,0
20,18078081,2019-12-19,2019-12-23,58300,-13638,44138,-524,0
21,18218512,2019-12-30,2020-01-03,-3282300,-3190,-3285490,0,0
22,18314101,2020-01-06,2020-01-08,-2512200,-8212,-2520412,0,0
23,18348931,2020-01-07,2020-01-09,7160,-10399,-3552,-313,0
24,18480725,2020-01-13,2020-01-15,27673700,-10786,27661531,-1383,0
25,18513199,2020-01-14,2020-01-16,-20420000,-8526,-20428526,0,0
26,18545780,2020-01-15,2020-01-17,-6309000,-18223,-6327831,-608,0
27,18579106,2020-01-16,2020-01-20,182200,-5425,176775,0,0
28,18780954,2020-01-24,2020-01-28,-25680,-13760,-40022,-582,0
29,18904168,2020-01-30,2020-02-03,26734980,-32448,26702532,0,0
30,18934102,2020-01-31,2020-02-04,-24758000,-21866,-24780551,-685,0
31,19159690,2020-02-11,2020-02-13,36588400,-13491,36574909,0,0
32,19660857,2020-03-05,2020-03-09,-39033000,-18497,-39051497,0,0
33,19694707,2020-03-06,2020-03-10,37200000,-14998,37183142,-1860,0
34,20545661,2020-04-02,2020-04-06,-6438700,-4384,-6443084,0,0
35,20584133,2020-04-03,2020-04-07,-25999000,-20202,-26019699,0,-497
36,20623043,2020-04-06,2020-04-08,8003000,-7083,7995517,-400,0
37,20881410,2020-04-16,2020-04-20,-7922200,-4896,-7927096,0,0
38,21224162,2020-04-29,2020-05-04,7993700,-4921,7988380,-399,0
39,21268395,2020-04-30,2020-05-05,-7006800,-6466,-7013266,0,0
40,21473188,2020-05-08,2020-05-12,4290100,-3486,4286400,-214,0
41,21547735,2020-05-12,2020-05-14,2260000,-2860,2257027,-113,0
42,22176539,2020-06-02,2020-06-04,-5780900,-18404,-5800126,-822,0
43,22235970,2020-06-03,2020-06-05,9328040,-6118,9321456,-466,0
44,22667488,2020-06-15,2020-06-17,-2062730,-12594,-2075611,-187,-100
45,22726302,2020-06-16,2020-06-18,5880000,-4192,5875514,-294,0
46,22778460,2020-06-17,2020-06-19,-5689630,-10981,-5700843,0,-232
47,23284610,2020-07-02,2020-07-06,-6522000,-6324,-6528324,0,0
48,23436179,2020-07-07,2020-07-09,-258900,-7562,-266703,-241,0
49,23808931,2020-07-16,2020-07-20,779660,-8269,771087,-304,0
50,23858119,2020-07-17,2020-07-21,-2000,-2060,-4060,0,0
51,23913583,2020-07-20,2020-07-22,-734410,-13949,-748772,-413,0
52,24156262,2020-07-24,2020-07-28,1607200,-7164,1599765,-271,0
53,24422581,2020-07-31,2020-08-04,15273600,-6835,15266002,-763,0

In [155]:
df_taxas.IRRF.sum()/100,df_taxas.IRRF_daytrade.sum()/100,taxas_detalhadas[['IRRF','IRRF_daytrade']].sum().sum()/100

(-136.37, -8.29, -144.66)

In [157]:
teste = aux.groupby(['nota','pregao','mes','nome','daytrade']).sum().reset_index()
teste

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover
0,15472367,2019-07-15,2019-07,TRIS3,False,2600,-2131000,2131000
1,15770099,2019-08-02,2019-08,TRIS3,False,-2600,2155400,2155400
2,16129828,2019-08-23,2019-08,GBIO33,False,7900,-6909800,6909800
3,16152489,2019-08-26,2019-08,GBIO33,False,6200,-5411200,5411200
4,16172636,2019-08-27,2019-08,GBIO33,False,5200,-4751100,4751100
...,...,...,...,...,...,...,...,...
74,23913583,2020-07-20,2020-07,BOVA11,False,-830,8277590,8277590
75,23913583,2020-07-20,2020-07,OIBR3,False,66000,-9012000,9012000
76,24156262,2020-07-24,2020-07,OIBR3,False,22800,-3830400,3830400
77,24156262,2020-07-24,2020-07,VVAR3,False,-2800,5437600,5437600
78,24422581,2020-07-31,2020-07,OIBR3,False,-88800,15273600,15273600

In [159]:
#valor em REAIS que foi cobrado a mais no 'taxa_liquidacoo'
print((-df_taxas.taxa_liquidacao-turnover.reset_index().turnover*0.0002795).sum()/100)
(-df_taxas.taxa_liquidacao-turnover.reset_index().turnover*0.0002795)/100

-65.53258660000012

0     -0.096145
1     -0.104343
2     -0.312891
3     -0.244304
4     -0.219325
5     -0.023340
6     -0.063038
7     -0.021290
8     -0.800289
9     -0.091552
10    -0.588943
11    -0.092054
12    -0.628513
13    -0.055552
14    -0.064620
15    -0.067720
16    -0.082931
17    -0.020672
18    -0.644054
19    -1.459865
20    -0.948449
21    -0.154029
22    -0.248214
23    -0.570120
24    -1.247992
25    -0.923900
26    -1.385196
27    -0.167841
28    -1.053524
29    -3.676531
30    -2.351610
31    -1.654578
32    -1.757235
33    -1.674000
34    -0.296167
35   -11.572325
36    -0.368385
37    -0.362549
38    -0.362392
39    -0.324006
40    -0.200829
41    -0.106700
42    -1.744731
43    -0.995775
44    -9.215966
45    -0.264600
46   -12.264102
47    -0.298990
48    -0.451649
49    -0.517950
50    -0.792640
51    -0.784404
52    -0.424060
53    -0.689712
dtype: float64

In [160]:
#valor em REAIS que foi cobrado a mais no 'emolumento'
print((-df_taxas.emolumentos-turnover.reset_index().turnover*0.00004105).sum()/100)
(-df_taxas.emolumentos-turnover.reset_index().turnover*0.00004105)/100

35.00233745999999

0      0.015224
1      0.615208
2      0.003527
3     -0.001298
4     -0.000327
5     -0.005546
6      0.340479
7      0.130349
8     -0.000078
9     -0.001509
10    -0.007641
11    -0.004023
12    -0.008315
13    -0.003109
14    -0.007378
15    -0.001268
16    -0.005749
17    -0.018437
18    -0.422821
19    -0.988444
20     5.186618
21    -0.107384
22    -0.251527
23    -0.563384
24    -1.240054
25    -0.912410
26    -1.367752
27    -0.164878
28    -1.040528
29    23.592189
30    10.519141
31    -2.359538
32    -3.353047
33    10.769400
34     1.856914
35    -4.304918
36     2.244769
37     2.287937
38     2.308586
39    -0.776291
40    -0.331086
41    -0.177730
42    -3.157278
43    -0.833473
44    -1.686148
45     1.696260
46    -1.705465
47    -0.667281
48     0.978538
49     3.302230
50    -0.107216
51    -1.757377
52    -0.944514
53    -1.559813
dtype: float64

In [161]:
#valor em centavos que foi cobrado a mais no 'imposto'
-df_taxas.impostos+(0.1068)*df_taxas.reset_index()['taxa_operacional']

0    -0.704
1    -0.852
2    -0.556
3    -0.260
4    -0.556
5    -0.852
6    -0.852
7    -0.852
8    -0.852
9    -0.852
10   -0.852
11   -0.852
12   -0.852
13   -0.852
14   -0.852
15   -0.852
16   -0.852
17   -0.852
18   -0.704
19   -0.556
20   -0.556
21   -0.852
22   -0.556
23   -0.556
24   -0.852
25   -0.852
26   -0.408
27   -0.704
28   -0.556
29   -0.704
30   -0.704
31   -0.852
32   -0.556
33   -0.852
34   -0.852
35   -0.876
36   -0.704
37   -0.852
38   -0.852
39   -0.704
40   -0.852
41   -0.852
42   -0.556
43   -0.292
44   -0.024
45   -0.852
46   -0.864
47   -0.704
48   -0.704
49   -0.704
50   -0.880
51   -0.408
52   -0.704
53   -0.852
dtype: float64

In [162]:
#valor em centavos que foi cobrado a mais na 'outros'
-df_taxas.outros+(0.039)*df_taxas.reset_index()['taxa_operacional']

0    -0.42
1    -0.71
2    -0.13
3    -0.55
4    -0.13
5    -0.71
6    -0.71
7    -0.71
8    -0.71
9    -0.71
10   -0.71
11   -0.71
12   -0.71
13   -0.71
14   -0.71
15   -0.71
16   -0.71
17   -0.71
18   -0.42
19   -0.13
20   -0.13
21   -0.71
22   -0.13
23   -0.13
24   -0.71
25   -0.71
26   -0.84
27   -0.42
28   -0.13
29   -0.42
30   -0.42
31   -0.71
32   -0.13
33   -0.71
34   -0.71
35   -0.73
36   -0.42
37   -0.71
38   -0.71
39   -0.42
40   -0.71
41   -0.71
42   -0.13
43   -0.91
44   -0.02
45   -0.71
46   -0.22
47   -0.42
48   -0.42
49   -0.42
50   -0.40
51   -0.84
52   -0.42
53   -0.71
dtype: float64

In [163]:
#taxa_liquidacoo
-turnover.reset_index().turnover*0.0002795/100
#emolumentos
-turnover.reset_index().turnover*0.00004105/100
#impostos
(0.1068)*df_taxas.reset_index()['taxa_operacional']/100
#outros
(0.039)*df_taxas.reset_index()['taxa_operacional']/100

0    -1.4742
1    -0.7371
2    -2.2113
3    -3.6855
4    -2.2113
5    -0.7371
6    -0.7371
7    -0.7371
8    -0.7371
9    -0.7371
10   -0.7371
11   -0.7371
12   -0.7371
13   -0.7371
14   -0.7371
15   -0.7371
16   -0.7371
17   -0.7371
18   -1.4742
19   -2.2113
20   -2.2113
21   -0.7371
22   -2.2113
23   -2.2113
24   -0.7371
25   -0.7371
26   -2.9484
27   -1.4742
28   -2.2113
29   -1.4742
30   -1.4742
31   -0.7371
32   -2.2113
33   -0.7371
34   -0.7371
35   -3.1473
36   -1.4742
37   -0.7371
38   -0.7371
39   -1.4742
40   -0.7371
41   -0.7371
42   -2.2113
43   -1.0491
44   -2.4102
45   -0.7371
46   -1.9422
47   -1.4742
48   -1.4742
49   -1.4742
50   -0.6240
51   -2.9484
52   -1.4742
53   -0.7371
Name: taxa_operacional, dtype: float64

In [164]:
custo_distribuido = aux.groupby(['nota','pregao','mes','nome','daytrade']).sum().reset_index()
custo_distribuido['custo'] = 0
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo
0,15472367,2019-07-15,2019-07,TRIS3,False,2600,-2131000,2131000,0
1,15770099,2019-08-02,2019-08,TRIS3,False,-2600,2155400,2155400,0
2,16129828,2019-08-23,2019-08,GBIO33,False,7900,-6909800,6909800,0
3,16152489,2019-08-26,2019-08,GBIO33,False,6200,-5411200,5411200,0
4,16172636,2019-08-27,2019-08,GBIO33,False,5200,-4751100,4751100,0
...,...,...,...,...,...,...,...,...,...
74,23913583,2020-07-20,2020-07,BOVA11,False,-830,8277590,8277590,0
75,23913583,2020-07-20,2020-07,OIBR3,False,66000,-9012000,9012000,0
76,24156262,2020-07-24,2020-07,OIBR3,False,22800,-3830400,3830400,0
77,24156262,2020-07-24,2020-07,VVAR3,False,-2800,5437600,5437600,0
78,24422581,2020-07-31,2020-07,OIBR3,False,-88800,15273600,15273600,0

In [165]:
for nota in set(teste.nota):
    constante = custo_distribuido[custo_distribuido.nota == nota].turnover.sum()
    custo_total = taxas_detalhadas[taxas_detalhadas.nota == nota].custos_operacionais.sum()
    fator = custo_total/constante
    custo_distribuido['custo'] = custo_distribuido['custo']+ custo_distribuido.nota.apply(lambda x : fator if x==nota else 0)*custo_distribuido.turnover

In [166]:
#valor infimo
custo_distribuido.groupby('nota')[['custo']].sum().values - taxas_detalhadas.groupby('nota')[['custos_operacionais']].sum().values

array([[ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 4.54747351e-13],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [-1.81898940e-12],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00],
       [ 0.00000000e+00]])

In [167]:
custo_distribuido = custo_distribuido.merge(taxas_detalhadas[['nota','data_liquidacao']],left_on='nota', right_on='nota')
custo_distribuido.head(6)

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao
0,15472367,2019-07-15,2019-07,TRIS3,False,2600,-2131000,2131000,-5005.0,2019-07-17
1,15770099,2019-08-02,2019-08,TRIS3,False,-2600,2155400,2155400,-2906.0,2019-08-06
2,16129828,2019-08-23,2019-08,GBIO33,False,7900,-6909800,6909800,-8680.0,2019-08-27
3,16152489,2019-08-26,2019-08,GBIO33,False,6200,-5411200,5411200,-12537.0,2019-08-28
4,16172636,2019-08-27,2019-08,GBIO33,False,5200,-4751100,4751100,-7997.0,2019-08-29
5,16209057,2019-08-29,2019-08,GBIO33,False,-500,452000,452000,-2306.0,2019-09-02

In [168]:
custo_distribuido['aux'] = custo_distribuido['financeiro'] +custo_distribuido['custo']
custo_distribuido['aux']=custo_distribuido['aux'].apply(int)/100
custo_distribuido[['pregao','data_liquidacao','nome','daytrade','aux']]

        pregao data_liquidacao    nome  daytrade        aux
0   2019-07-15      2019-07-17   TRIS3     False  -21360.05
1   2019-08-02      2019-08-06   TRIS3     False   21524.94
2   2019-08-23      2019-08-27  GBIO33     False  -69184.80
3   2019-08-26      2019-08-28  GBIO33     False  -54237.37
4   2019-08-27      2019-08-29  GBIO33     False  -47590.97
..         ...             ...     ...       ...        ...
74  2020-07-20      2020-07-22  BOVA11     False   82709.11
75  2020-07-20      2020-07-22   OIBR3     False  -90192.70
76  2020-07-24      2020-07-28   OIBR3     False  -38333.60
77  2020-07-24      2020-07-28   VVAR3     False   54333.96
78  2020-07-31      2020-08-04   OIBR3     False  152667.65

[79 rows x 5 columns]

In [182]:
custo_distribuido.groupby('nome').sum()[['aux']]

              aux
nome
BBAS3   135477.35
BOVA11  274333.42
BRML3       52.96
CIEL3      -40.60
CMIG4    -7979.50
CNTO3    -7180.00
COGN3      616.83
CVCB3   -18664.95
ENEV3      492.47
GBIO33    8735.54
ITUB4    -8427.38
KEPL3    12223.05
LWSA3    -5581.98
MGLU3     2484.89
OIBR3    24622.90
PRIO3     -874.28
QUAL3    -1699.55
SQIA3  -254298.04
TRIS3      164.89
VVAR3     1095.44

In [183]:
#=IFERROR(DATE(YEAR(A2),DAY(A2),MONTH(A2)),DATE(INT(RIGHT(A2,4)),INT(MID(A2,4,2)),INT(LEFT(A2,2))))
#=IF(ISNUMBER(SEARCH("MARGEM",C2)),D2,0)
#custo_distribuido.loc[(1,3,28,29,30),:].groupby('nome').sum()[['qtd']]
#custo_distribuido.loc[(set(custo_distribuido.index)-{1,3,28,29,30}),:][~custo_distribuido.daytrade].aux.sum()
#custo_distribuido[custo_distribuido.nome=='oibr3'.upper()][['pregao','data_liquidacao','nome','daytrade','aux']]

In [180]:
custo_distribuido.groupby('nome').sum()[['qtd']]

          qtd
nome
BBAS3   -2798
BOVA11  -2290
BRML3       0
CIEL3       0
CMIG4       0
CNTO3       0
COGN3       0
CVCB3       0
ENEV3       0
GBIO33      0
ITUB4       0
KEPL3       0
LWSA3       0
MGLU3       0
OIBR3       0
PRIO3       0
QUAL3       0
SQIA3   13500
TRIS3       0
VVAR3       0

In [178]:
print(custo_distribuido[custo_distribuido.nome=='PRIO3'].aux.sum())
custo_distribuido[custo_distribuido.nome=='PRIO3']

-874.2799999998533

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
30,18513199,2020-01-14,2020-01,PRIO3,False,5000,-20420000,20420000,-8526.000000,2020-01-16,-204285.26
33,18545780,2020-01-15,2020-01,PRIO3,False,4400,-18498900,18498900,-10984.641130,2020-01-17,-185098.84
35,18579106,2020-01-16,2020-01,PRIO3,False,400,-1668800,1668800,-2572.089323,2020-01-20,-16713.72
37,18780954,2020-01-24,2020-01,PRIO3,False,2500,-11670000,11670000,-6887.578107,2020-01-28,-116768.87
39,18904168,2020-01-30,2020-01,PRIO3,False,-12300,54120000,54120000,-21545.737428,2020-02-03,540984.54
41,18934102,2020-01-31,2020-01,PRIO3,False,8200,-38458000,38458000,-16122.601097,2020-02-04,-384741.22
42,19159690,2020-02-11,2020-02,PRIO3,False,-8200,36588400,36588400,-13491.000000,2020-02-13,365749.09

In [175]:
custo_distribuido[custo_distribuido.daytrade].groupby(['pregao','nome']).sum()

,,daytrade,qtd,financeiro,turnover,custo,aux
pregao,nome,,,,,,
2019-12-06,BBAS3,True,-2798,13556310,13575690,-8575.000000,135477.35
2020-04-03,ENEV3,True,0,56000,13080000,-6752.067459,492.47
2020-06-03,BOVA11,True,0,280,280,-0.183644,2.79
2020-06-15,BOVA11,True,0,14242,14242,-18.728066,142.23
2020-06-17,BOVA11,True,0,29312,29312,-55.995276,292.56
2020-07-17,CIEL3,True,0,-2000,992000,-2060.000000,-40.60

In [182]:
(24.09*98700+custo_distribuido[custo_distribuido.nome=='SQIA3'].aux.sum())*15/100

49052.765999999996

In [173]:
-custo_distribuido[custo_distribuido.nome=='SQIA3'].aux.sum()

2050664.56

In [174]:
custo_distribuido[~custo_distribuido.daytrade][custo_distribuido.nome!='SQIA3'].aux.sum()

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

351459.52

In [165]:
custo_distribuido[custo_distribuido.daytrade].aux.sum()

26152.139999999996

In [104]:
custo_distribuido[custo_distribuido.nome=='oibr3'.upper()][['pregao','data_liquidacao','nome','daytrade','aux']]

        pregao data_liquidacao   nome  daytrade         aux
16  2020-05-04      2020-05-06  OIBR3      True    31251.10
35  2020-06-15      2020-06-17  OIBR3     False -1019030.78
40  2020-06-18      2020-06-22  OIBR3     False  1096598.12
41  2020-06-23      2020-06-25  OIBR3     False  -514059.86
42  2020-06-26      2020-06-30  OIBR3     False  -232093.07
45  2020-07-24      2020-07-28  OIBR3     False   -50437.04
46  2020-07-31      2020-08-04  OIBR3     False  1184096.06

In [105]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,20630020,2020-04-06,2020-04,ENEV3,True,0,325100,59671100,-21518.000000,2020-04-08,3035.82
1,20665692,2020-04-07,2020-04,GBIO33,False,16400,-15599300,15599300,-11253.000000,2020-04-09,-156105.53
2,20702999,2020-04-08,2020-04,BPAC11,True,0,770000,76750000,-23216.156106,2020-04-13,7467.83
3,20702999,2020-04-08,2020-04,GBIO33,False,10500,-9975000,9975000,-3017.344067,2020-04-13,-99780.17
4,20702999,2020-04-08,2020-04,PETR4,False,20000,-34520000,34520000,-10441.976662,2020-04-13,-345304.41
5,20702999,2020-04-08,2020-04,PETR4,True,0,-108000,60516000,-18305.523165,2020-04-13,-1263.05
6,20739679,2020-04-09,2020-04,PETR4,False,-20000,33533400,33533400,-12393.000000,2020-04-14,335210.07
7,20888575,2020-04-16,2020-04,BPAC11,False,15000,-60630000,60630000,-20889.748868,2020-04-20,-606508.89
8,20888575,2020-04-16,2020-04,COGN3,False,180000,-98100000,98100000,-33799.841068,2020-04-20,-981337.99
9,20888575,2020-04-16,2020-04,TIET11,False,30000,-47910000,47910000,-16507.139506,2020-04-20,-479265.07
10,20888575,2020-04-16,2020-04,VALE3,False,3000,-12698700,12698700,-4375.270558,2020-04-20,-127030.75
11,21094769,2020-04-24,2020-04,TIET11,False,-30000,42083500,42083500,-17167.000000,2020-04-28,420663.33
12,21232388,2020-04-29,2020-04,COGN3,False,-180000,100620000,100620000,-36877.000000,2020-05-04,1005831.23
13,21276284,2020-04-30,2020-04,CNTO3,False,3200,-10112000,10112000,-5112.244438,2020-05-05,-101171.12
14,21276284,2020-04-30,2020-04,COGN3,False,40000,-22160000,22160000,-11203.257194,2020-05-05,-221712.03
15,21276284,2020-04-30,2020-04,PRIO3,False,4000,-8180000,8180000,-4135.498368,2020-05-05,-81841.35
16,21318905,2020-05-04,2020-05,OIBR3,True,0,3174600,203174400,-49490.000000,2020-05-06,31251.10
17,21398427,2020-05-06,2020-05,PRIO3,False,-4000,8354700,8354700,-4258.609760,2020-05-08,83504.41
18,21398427,2020-05-06,2020-05,VALE3,False,-3000,13149000,13149000,-6702.390240,2020-05-08,131422.97
19,21437610,2020-05-07,2020-05,CNTO3,False,7000,-19747000,19747000,-9286.191573,2020-05-11,-197562.86
20,21437610,2020-05-07,2020-05,TRIS3,False,10000,-7000000,7000000,-3291.808427,2020-05-11,-70032.91
21,21480312,2020-05-08,2020-05,BPAC11,False,-15000,56567700,56567700,-29546.801587,2020-05-12,565381.53
22,21480312,2020-05-08,2020-05,CNTO3,False,-10200,27554800,27554800,-14392.598751,2020-05-12,275404.07
23,21480312,2020-05-08,2020-05,TRIS3,False,-10000,6973800,6973800,-3642.599662,2020-05-12,69701.57
24,21517810,2020-05-11,2020-05,COGN3,False,-40000,18120000,18120000,-7752.000000,2020-05-13,181122.48
25,21957173,2020-05-26,2020-05,BPAC11,True,0,-1475500,201567500,-56987.733437,2020-05-28,-15324.87
26,21957173,2020-05-26,2020-05,MGLU3,True,0,458100,127840500,-36143.427569,2020-05-28,4219.56
27,21957173,2020-05-26,2020-05,PRIO3,True,0,-303600,60836400,-17199.838994,2020-05-28,-3207.99
28,22186883,2020-06-02,2020-06,SQIA3,False,54600,-112016600,112016600,-98013.000000,2020-06-04,-1121146.13
29,22248052,2020-06-03,2020-06,BPAC11,False,6900,-39340500,39340500,-22420.378813,2020-06-05,-393629.20
30,22248052,2020-06-03,2020-06,SQIA3,False,44100,-92898900,92898900,-52943.621187,2020-06-05,-929518.43
31,22678282,2020-06-15,2020-06,BOVA11,False,-7890,70206355,70206355,-36587.470369,2020-06-17,701697.67
32,22678282,2020-06-15,2020-06,BOVA11,True,0,9225,9225,-4.807534,2020-06-17,92.20
33,22678282,2020-06-15,2020-06,BPAC11,False,-1000,6136000,6136000,-3197.726448,2020-06-17,61328.02
34,22678282,2020-06-15,2020-06,GBIO33,False,-26900,26873100,26873100,-14004.697295,2020-06-17,268590.95
35,22678282,2020-06-15,2020-06,OIBR3,False,1050000,-101850000,101850000,-53078.298355,2020-06-17,-1019030.78
36,22735373,2020-06-16,2020-06,BPAC11,False,-5900,37889900,37889900,-21085.212601,2020-06-18,378688.14
37,22735373,2020-06-16,2020-06,BPAC11,True,0,-4700,12842700,-7146.787399,2020-06-18,-118.46
38,22786430,2020-06-17,2020-06,BOVA11,False,3740,-34007820,34007820,-12635.000000,2020-06-19,-340204.55
39,22832122,2020-06-18,2020-06,BOVA11,False,4150,-38515500,38515500,-14109.699077,2020-06-22,-385296.09
40,22832122,2020-06-18,2020-06,OIBR3,False,-1050000,109700000,109700000,-40187.300923,2020-06-22,1096598.12
41,22978456,2020-06-23,2020-06,OIBR3,False,443000,-51388000,51388000,-17986.000000,2020-06-25,-514059.86
42,23111532,2020-06-26,2020-06,OIBR3,False,200000,-23200000,23200000,-9307.000000,2020-06-30,-232093.07
43,23293801,2020-07-02,2020-07,LWSA3,False,1100,-5525300,5525300,-3853.000000,2020-07-06,-55291.53
44,23496146,2020-07-08,2020-07,LWSA3,False,-1100,4995100,4995100,-3690.000000,2020-07-10,49914.10
45,24165749,2020-07-24,2020-07,OIBR3,False,30000,-5040000,5040000,-3704.000000,2020-07-28,-50437.04
46,24433627,2020-07-31,2020-07,OIBR3,False,-673000,118448000,118448000,-38394.000000,2020-08-04,1184096.06

In [46]:
custo_distribuido[custo_distribuido.nome=='SQIA3']

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
20,17948067,2019-12-13,2019-12,SQIA3,False,10600,-22857000,22857000,-11744.005317,2019-12-17,-228687.44
24,18218512,2019-12-30,2019-12,SQIA3,False,1300,-3282300,3282300,-3190.000000,2020-01-03,-32854.90
26,18314101,2020-01-06,2020-01,SQIA3,False,-600,1498500,1498500,-2233.660423,2020-01-08,14962.66
29,18480725,2020-01-13,2020-01,SQIA3,False,-11300,27673700,27673700,-10786.000000,2020-01-15,276629.14

In [47]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,15472367,2019-07-15,2019-07,TRIS3,False,2600,-2131000,2131000,-5005.000000,2019-07-17,-21360.05
1,15770099,2019-08-02,2019-08,TRIS3,False,-2600,2155400,2155400,-2906.000000,2019-08-06,21524.94
2,16129828,2019-08-23,2019-08,GBIO33,False,7900,-6909800,6909800,-8680.000000,2019-08-27,-69184.80
3,16152489,2019-08-26,2019-08,GBIO33,False,6200,-5411200,5411200,-12537.000000,2019-08-28,-54237.37
4,16172636,2019-08-27,2019-08,GBIO33,False,5200,-4751100,4751100,-7997.000000,2019-08-29,-47590.97
5,16209057,2019-08-29,2019-08,GBIO33,False,-500,452000,452000,-2306.000000,2019-09-02,4496.94
6,16613152,2019-09-25,2019-09,GBIO33,False,1500,-1192500,1192500,-2574.000000,2019-09-27,-11950.74
7,16668683,2019-09-30,2019-09,GBIO33,False,-600,462000,462000,-2323.000000,2019-10-02,4596.77
8,16779434,2019-10-07,2019-10,GBIO33,False,-19700,17710300,17710300,-7761.000000,2019-10-09,177025.39
9,16967257,2019-10-18,2019-10,QUAL3,False,600,-2025600,2025600,-2804.000000,2019-10-22,-20284.04
10,16987708,2019-10-21,2019-10,ITUB4,False,-3800,13051500,13051500,-6288.000000,2019-10-23,130452.12
11,17034373,2019-10-23,2019-10,QUAL3,False,-600,1861200,1861200,-2751.000000,2019-10-25,18584.49
12,17057837,2019-10-24,2019-10,ITUB4,False,3800,-13881400,13881400,-6550.000000,2019-10-28,-138879.50
13,17174111,2019-10-31,2019-10,BRML3,False,800,-1225600,1225600,-2551.000000,2019-11-04,-12281.51
14,17228307,2019-11-04,2019-11,BRML3,False,-800,1236000,1236000,-2553.000000,2019-11-06,12334.47
15,17566844,2019-11-25,2019-11,GBIO33,False,1600,-1416000,1416000,-2611.000000,2019-11-27,-14186.11
16,17640994,2019-11-28,2019-11,GBIO33,False,1800,-1621800,1621800,-2675.000000,2019-12-02,-16244.75
17,17744320,2019-12-04,2019-12,GBIO33,False,-400,361600,361600,-2276.000000,2019-12-06,3593.24
18,17801694,2019-12-06,2019-12,BBAS3,True,-2798,13556310,13575690,-8575.000000,2019-12-10,135477.35
19,17948067,2019-12-13,2019-12,CMIG4,False,-7300,9490000,9490000,-4875.994683,2019-12-17,94851.24
20,17948067,2019-12-13,2019-12,SQIA3,False,10600,-22857000,22857000,-11744.005317,2019-12-17,-228687.44
21,18078081,2019-12-19,2019-12,BOVA11,False,-700,7757400,7757400,-5047.900889,2019-12-23,77523.52
22,18078081,2019-12-19,2019-12,GBIO33,False,-3000,2750900,2750900,-1790.067620,2019-12-23,27491.09
23,18078081,2019-12-19,2019-12,KEPL3,False,3800,-10450000,10450000,-6800.031491,2019-12-23,-104568.00
24,18218512,2019-12-30,2019-12,SQIA3,False,1300,-3282300,3282300,-3190.000000,2020-01-03,-32854.90
25,18314101,2020-01-06,2020-01,CMIG4,False,2900,-4010700,4010700,-5978.339577,2020-01-08,-40166.78
26,18314101,2020-01-06,2020-01,SQIA3,False,-600,1498500,1498500,-2233.660423,2020-01-08,14962.66
27,18348931,2020-01-07,2020-01,BOVA11,False,-560,6268360,6268360,-5202.471247,2020-01-09,62631.57
28,18348931,2020-01-07,2020-01,CMIG4,False,4400,-6261200,6261200,-5196.528753,2020-01-09,-62663.96
29,18480725,2020-01-13,2020-01,SQIA3,False,-11300,27673700,27673700,-10786.000000,2020-01-15,276629.14
30,18513199,2020-01-14,2020-01,PRIO3,False,5000,-20420000,20420000,-8526.000000,2020-01-16,-204285.26
31,18545780,2020-01-15,2020-01,BOVA11,False,-210,2353100,2353100,-1397.270056,2020-01-17,23517.02
32,18545780,2020-01-15,2020-01,KEPL3,False,-3200,9836800,9836800,-5841.088814,2020-01-17,98309.58
33,18545780,2020-01-15,2020-01,PRIO3,False,4400,-18498900,18498900,-10984.641130,2020-01-17,-185098.84
34,18579106,2020-01-16,2020-01,KEPL3,False,-600,1851000,1851000,-2852.910677,2020-01-20,18481.47
35,18579106,2020-01-16,2020-01,PRIO3,False,400,-1668800,1668800,-2572.089323,2020-01-20,-16713.72
36,18780954,2020-01-24,2020-01,BOVA11,False,-1020,11644320,11644320,-6872.421893,2020-01-28,116374.47
37,18780954,2020-01-24,2020-01,PRIO3,False,2500,-11670000,11670000,-6887.578107,2020-01-28,-116768.87
38,18904168,2020-01-30,2020-01,BOVA11,False,2490,-27385020,27385020,-10902.262572,2020-02-03,-273959.22
39,18904168,2020-01-30,2020-01,PRIO3,False,-12300,54120000,54120000,-21545.737428,2020-02-03,540984.54
40,18934102,2020-01-31,2020-01,BOVA11,False,-1250,13700000,13700000,-5743.398903,2020-02-04,136942.56
41,18934102,2020-01-31,2020-01,PRIO3,False,8200,-38458000,38458000,-16122.601097,2020-02-04,-384741.22
42,19159690,2020-02-11,2020-02,PRIO3,False,-8200,36588400,36588400,-13491.000000,2020-02-13,365749.09
43,19660857,2020-03-05,2020-03,CVCB3,False,18600,-39033000,39033000,-18497.000000,2020-03-09,-390514.97
44,19694707,2020-03-06,2020-03,CVCB3,False,-18600,37200000,37200000,-14998.000000,2020-03-10,371850.02

          qtd
nome
BBAS3   -2798
BOVA11  -2290
BRML3       0
CIEL3       0
CMIG4       0
CNTO3       0
COGN3       0
CVCB3       0
ENEV3       0
GBIO33      0
ITUB4       0
KEPL3       0
LWSA3       0
MGLU3       0
OIBR3       0
PRIO3       0
QUAL3       0
SQIA3   13500
TRIS3       0
VVAR3       0

In [108]:
qtd = aux.groupby(by=['pregao','nome']).sum()[["qtd"]].reset_index().pivot(index='nome',columns='pregao', values='qtd').fillna(0)
qtd

pregao,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-16,2020-04-24,2020-04-29,2020-04-30,2020-05-04,2020-05-06,...,2020-06-15,2020-06-16,2020-06-17,2020-06-18,2020-06-23,2020-06-26,2020-07-02,2020-07-08,2020-07-24,2020-07-31
nome,,,,,,,,,,,,,,,,,,,,,
BOVA11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-7890.0,0.0,3740.0,4150.0,0.0,0.0,0.0,0.0,0.0,0.0
BPAC11,0.0,0.0,0.0,0.0,15000.0,0.0,0.0,0.0,0.0,0.0,...,-1000.0,-5900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CNTO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3200.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COGN3,0.0,0.0,0.0,0.0,180000.0,0.0,-180000.0,40000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENEV3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GBIO33,0.0,16400.0,10500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-26900.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
LWSA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1100.0,-1100.0,0.0,0.0
MGLU3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OIBR3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1050000.0,0.0,0.0,-1050000.0,443000.0,200000.0,0.0,0.0,30000.0,-673000.0
PETR4,0.0,0.0,20000.0,-20000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PRIO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000.0,0.0,-4000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SQIA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIET11,0.0,0.0,0.0,0.0,30000.0,-30000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRIS3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VALE3,0.0,0.0,0.0,0.0,3000.0,0.0,0.0,0.0,0.0,-3000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
financeiro = aux.groupby(by=['pregao','nome']).sum()[["financeiro"]].reset_index().pivot(index='nome',columns='pregao', values='financeiro').fillna(0)
financeiro/100

pregao,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-16,2020-04-24,2020-04-29,2020-04-30,2020-05-04,2020-05-06,...,2020-06-15,2020-06-16,2020-06-17,2020-06-18,2020-06-23,2020-06-26,2020-07-02,2020-07-08,2020-07-24,2020-07-31
nome,,,,,,,,,,,,,,,,,,,,,
BOVA11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,702155.8,0.0,-340078.2,-385155.0,0.0,0.0,0.0,0.0,0.0,0.0
BPAC11,0.0,0.0,7700.0,0.0,-606300.0,0.0,0.0,0.0,0.0,0.0,...,61360.0,378852.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CNTO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-101120.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
COGN3,0.0,0.0,0.0,0.0,-981000.0,0.0,1006200.0,-221600.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ENEV3,3251.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GBIO33,0.0,-155993.0,-99750.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,268731.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
LWSA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-55253.0,49951.0,0.0,0.0
MGLU3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OIBR3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31746.0,0.0,...,-1018500.0,0.0,0.0,1097000.0,-513880.0,-232000.0,0.0,0.0,-50400.0,1184480.0
PETR4,0.0,0.0,-346280.0,335334.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
PRIO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-81800.0,0.0,83547.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SQIA3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TIET11,0.0,0.0,0.0,0.0,-479100.0,420835.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TRIS3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VALE3,0.0,0.0,0.0,0.0,-126987.0,0.0,0.0,0.0,0.0,131490.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [110]:
custo_distribuido

,nota,pregao,mes,nome,daytrade,qtd,financeiro,turnover,custo,data_liquidacao,aux
0,20630020,2020-04-06,2020-04,ENEV3,True,0,325100,59671100,-21518.000000,2020-04-08,3035.82
1,20665692,2020-04-07,2020-04,GBIO33,False,16400,-15599300,15599300,-11253.000000,2020-04-09,-156105.53
2,20702999,2020-04-08,2020-04,BPAC11,True,0,770000,76750000,-23216.156106,2020-04-13,7467.83
3,20702999,2020-04-08,2020-04,GBIO33,False,10500,-9975000,9975000,-3017.344067,2020-04-13,-99780.17
4,20702999,2020-04-08,2020-04,PETR4,False,20000,-34520000,34520000,-10441.976662,2020-04-13,-345304.41
5,20702999,2020-04-08,2020-04,PETR4,True,0,-108000,60516000,-18305.523165,2020-04-13,-1263.05
6,20739679,2020-04-09,2020-04,PETR4,False,-20000,33533400,33533400,-12393.000000,2020-04-14,335210.07
7,20888575,2020-04-16,2020-04,BPAC11,False,15000,-60630000,60630000,-20889.748868,2020-04-20,-606508.89
8,20888575,2020-04-16,2020-04,COGN3,False,180000,-98100000,98100000,-33799.841068,2020-04-20,-981337.99
9,20888575,2020-04-16,2020-04,TIET11,False,30000,-47910000,47910000,-16507.139506,2020-04-20,-479265.07
10,20888575,2020-04-16,2020-04,VALE3,False,3000,-12698700,12698700,-4375.270558,2020-04-20,-127030.75
11,21094769,2020-04-24,2020-04,TIET11,False,-30000,42083500,42083500,-17167.000000,2020-04-28,420663.33
12,21232388,2020-04-29,2020-04,COGN3,False,-180000,100620000,100620000,-36877.000000,2020-05-04,1005831.23
13,21276284,2020-04-30,2020-04,CNTO3,False,3200,-10112000,10112000,-5112.244438,2020-05-05,-101171.12
14,21276284,2020-04-30,2020-04,COGN3,False,40000,-22160000,22160000,-11203.257194,2020-05-05,-221712.03
15,21276284,2020-04-30,2020-04,PRIO3,False,4000,-8180000,8180000,-4135.498368,2020-05-05,-81841.35
16,21318905,2020-05-04,2020-05,OIBR3,True,0,3174600,203174400,-49490.000000,2020-05-06,31251.10
17,21398427,2020-05-06,2020-05,PRIO3,False,-4000,8354700,8354700,-4258.609760,2020-05-08,83504.41
18,21398427,2020-05-06,2020-05,VALE3,False,-3000,13149000,13149000,-6702.390240,2020-05-08,131422.97
19,21437610,2020-05-07,2020-05,CNTO3,False,7000,-19747000,19747000,-9286.191573,2020-05-11,-197562.86
20,21437610,2020-05-07,2020-05,TRIS3,False,10000,-7000000,7000000,-3291.808427,2020-05-11,-70032.91
21,21480312,2020-05-08,2020-05,BPAC11,False,-15000,56567700,56567700,-29546.801587,2020-05-12,565381.53
22,21480312,2020-05-08,2020-05,CNTO3,False,-10200,27554800,27554800,-14392.598751,2020-05-12,275404.07
23,21480312,2020-05-08,2020-05,TRIS3,False,-10000,6973800,6973800,-3642.599662,2020-05-12,69701.57
24,21517810,2020-05-11,2020-05,COGN3,False,-40000,18120000,18120000,-7752.000000,2020-05-13,181122.48
25,21957173,2020-05-26,2020-05,BPAC11,True,0,-1475500,201567500,-56987.733437,2020-05-28,-15324.87
26,21957173,2020-05-26,2020-05,MGLU3,True,0,458100,127840500,-36143.427569,2020-05-28,4219.56
27,21957173,2020-05-26,2020-05,PRIO3,True,0,-303600,60836400,-17199.838994,2020-05-28,-3207.99
28,22186883,2020-06-02,2020-06,SQIA3,False,54600,-112016600,112016600,-98013.000000,2020-06-04,-1121146.13
29,22248052,2020-06-03,2020-06,BPAC11,False,6900,-39340500,39340500,-22420.378813,2020-06-05,-393629.20
30,22248052,2020-06-03,2020-06,SQIA3,False,44100,-92898900,92898900,-52943.621187,2020-06-05,-929518.43
31,22678282,2020-06-15,2020-06,BOVA11,False,-7890,70206355,70206355,-36587.470369,2020-06-17,701697.67
32,22678282,2020-06-15,2020-06,BOVA11,True,0,9225,9225,-4.807534,2020-06-17,92.20
33,22678282,2020-06-15,2020-06,BPAC11,False,-1000,6136000,6136000,-3197.726448,2020-06-17,61328.02
34,22678282,2020-06-15,2020-06,GBIO33,False,-26900,26873100,26873100,-14004.697295,2020-06-17,268590.95
35,22678282,2020-06-15,2020-06,OIBR3,False,1050000,-101850000,101850000,-53078.298355,2020-06-17,-1019030.78
36,22735373,2020-06-16,2020-06,BPAC11,False,-5900,37889900,37889900,-21085.212601,2020-06-18,378688.14
37,22735373,2020-06-16,2020-06,BPAC11,True,0,-4700,12842700,-7146.787399,2020-06-18,-118.46
38,22786430,2020-06-17,2020-06,BOVA11,False,3740,-34007820,34007820,-12635.000000,2020-06-19,-340204.55
39,22832122,2020-06-18,2020-06,BOVA11,False,4150,-38515500,38515500,-14109.699077,2020-06-22,-385296.09
40,22832122,2020-06-18,2020-06,OIBR3,False,-1050000,109700000,109700000,-40187.300923,2020-06-22,1096598.12
41,22978456,2020-06-23,2020-06,OIBR3,False,443000,-51388000,51388000,-17986.000000,2020-06-25,-514059.86
42,23111532,2020-06-26,2020-06,OIBR3,False,200000,-23200000,23200000,-9307.000000,2020-06-30,-232093.07
43,23293801,2020-07-02,2020-07,LWSA3,False,1100,-5525300,5525300,-3853.000000,2020-07-06,-55291.53
44,23496146,2020-07-08,2020-07,LWSA3,False,-1100,4995100,4995100,-3690.000000,2020-07-10,49914.10
45,24165749,2020-07-24,2020-07,OIBR3,False,30000,-5040000,5040000,-3704.000000,2020-07-28,-50437.04
46,24433627,2020-07-31,2020-07,OIBR3,False,-673000,118448000,118448000,-38394.000000,2020-08-04,1184096.06

In [621]:
custo_distribuido[custo_distribuido.mes.isin(['2020-04','2020-05'])][custo_distribuido.daytrade].financeiro.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

28407.0

In [623]:
custo_distribuido[custo_distribuido.mes.isin(['2020-04','2020-05'])][custo_distribuido.daytrade].custo.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-2228.6067927113077

In [635]:
#Imposto de renda relativo a daytrade pra ser pago no final do mes 6,referente ao mês 5
(28407.0-2228.6067927113077-12664.86 -12828.95 )*20/100 + taxas_detalhadas.IRRF_daytrade.sum()/100

-268.4633585422617

In [652]:
custo_distribuido[~custo_distribuido.daytrade][~custo_distribuido.nome.isin(['OIBR3','SQIA3'])].financeiro.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-109637.65

In [650]:
custo_distribuido[~custo_distribuido.daytrade][~custo_distribuido.nome.isin(['OIBR3','SQIA3'])].custo.sum()/100

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

-3976.2850533131127